<div class="p-3">
  <div>
    <h1>User info</h1></br>
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image_user.jpg" %>
  </div>
  <div class="border-top" style="padding:10px;">
    <strong>name</strong>
    <strong> <%= user.name %></strong>
  </div>
  <div class="border-top" style="padding:10px;">
    <strong></strong>introduction</strong>
    <strong> <%= user.introduction %></strong>
  </div>
</div>

  <%= link_to edit_user_path(user.id), class: 'btn w-100 btn-secondary' do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
  

<div class="p-3">
  <h1>New book</h1>
  <%= form_with model: book, url: books_path, local:true do |f| %>
    <div class="field">
      <p>Title</p>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <p>Opinion</p>
      <%= f.text_area :body %></br>
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
    </div>
  <% end %>
</div>
</div>